{% load django_bootstrap5 %}
{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

<body class="py-5 text-center parallax cover gradient-overlay" style="background-image: url(&quot;https://mir-s3-cdn-cf.behance.net/project_modules/1400/29e111149039507.62e042179696c.jpg&quot;); position: relative; background-position: 50% calc(50% + 50.6px); background-size: cover;">
<a href='/' style='font-weight:bold' type="button" class="btn btn-warning">🏠HOME</a>

    <div class="container d-flex flex-column" >
      <div class="row my-auto">
        <div class="row col-12 justify-content-center mt-3">
            <div class="card text-center" style="width: 25rem;">
                <div class="card-body">
                    <h2 class="card-title">{{ user.username }}'s Profile</h5>
                    <p class="card-text">{{ user.email }}</p>
                    {% if request.user != user %}
                    <a style="text-decoration:none; color:blue;" class="follow-implement" href="{% url 'accounts:follow' user.pk %}">
                        {% if request.user in user.followers.all %}
                        <i class="bi bi-backspace-fill"> Unfollow!</i>
                        {% else %}
                        <i class="bi bi-check-square-fill"> Follow!</i>
                        {% endif %}
                    </a>
                    {% endif %}
                </div>
                <div class='follow' style='float:left; margin-top:1rem;'>
                    <dl>
                        <dd>
                            <p style='font-weight:bolder'>following</p>
                            <span>{{ user.followings.count }}</span>
                        </dd>
                        <dd> 
                            <p style='font-weight:bolder'>follower</p>
                            <span>{{ user.followers.count }}</span>
                        </dd>
                    </dl>
                </div>
            </div>
         </div>
        </div>
      </div>
    </div>
    <div class="section-overlapping">
    <div class="container"></div>
    </div>
    <div>
    <div class="container">
        <div class="row"></div>
    </div>
    </div>
    </div>
    <div class="py-5">
    <div class="container">
      <div class="py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-3x"></i>
              <p> <a href="https://goo.gl/maps/AUq7b9W7yYJ2" target="_blank"> Book Review Service <br>2022</a> </p>
              <p> <a href="tel:+246 - 542 550 5462">Multicampus</a> </p>
              <p class="mb-0"> <a href="mailto:info@pingendo.com">reading@kakao.com</a> </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex align-items-center justify-content-center my-3"> <a href="#">
                <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
              </a> <a href="#">
                <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
              </a> <a href="#">
                <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i>
              </a> <a href="#">
                <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
              </a> <a href="#">
                <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i>
              </a> <a href="#">
                <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
              </a> </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center" style="">
              <p class="mb-0">©22 차화영 &amp; 임수경</p>
            </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</body>