{% load django_bootstrap5 %}
{% load static %}
<!-- CSS only -->

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


  <div style="background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/4b34c7151484215.630d0ab44b86d.jpg')">
      <div class="row">
        <div class="p-5 col-md-7 d-flex flex-column justify-content-center">
          <h4 style="color:FFE7CC; font-weight:bolder" class="display-4 mb-3">가면산장 살인사건 </h4>
          <p style="color:FFE7CC" class="mb-5 lead">"도모미 언니를 배신하지 말라고 그렇게 부탁했는데." 
          <br>다카유키는 바닥에서 일어나 "이제 막이 내렸잖아." 하고는 걸음을 내디뎠다.
          <br>별장을 나설 때 누군가가 보고 있는 것 같아 뒤돌아보았다.
          <br>그러나 아무도 없었다.
          <br>그리고 여기 왔을 때는 분명히 있었던 현관문 위의
          <br>가면도 이미 사라지고 없었다.</p>
        </div>
          <div class="p-5 col-md-5">
          <h3 class="mb-3" style="color:white; font-weight:bolder">Join Us!</h3>
          <form style="color: white;" action="" method="POST">
          
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="col-lg-10">
          {% bootstrap_button button_class="btn btn-outline-success" style="font-weight:bold" button_type="reset" content="Cancel" %}
          {% bootstrap_button button_class="btn btn-success" style="font-weight:bold" button_type="submit" content="Sign up" %}
          
          </div>
      </div>
    </div>
  </div>
