{% load django_bootstrap5 %}
{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<body>

<div class="container">
      <div class="row" style="	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/29e111149039507.62e042179696c.jpg);	background-position: top left;	background-size: 100%;	background-repeat: repeat;" >
      </div>
</div>
<h1>{{ user.username }}</h1>
<p>{{ user.email }}</p>
<p>following : {{ user.followings.count }} | followers : {{ user.followers.count }}</p>
{% if request.user != user %}
<a style="text-decoration:none; color:blue;" class="follow-implement" href="{% url 'accounts:follow' user.pk %}">
    {% if request.user in user.followers.all %}
    <i class="bi bi-backspace-fill"> Unfollow!</i>
    {% else %}
    <i class="bi bi-check-square-fill"> Follow!</i>
    {% endif %}
</a>
{% endif %}
<div class="row">
    <div class="col-6">
        <h3>작성한 글</h3>
        <p class="text-muted">{{ user.article_set.count }}개를 작성하였습니다.</p>
        {% for article in user.article_set.all %}
        <p>
            {{ forloop.counter }}
            <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
        </p>
        {% endfor %}
    </div>
    <div class="col-6">
        <h3>작성한 댓글</h3>
        <p class="text-muted">{{ user.comment_set.count }}개를 작성하였습니다.</p>
        {% for comment in user.comment_set.all %}
        <p>
            {{ forloop.counter }}
            <a href="{% url 'articles:detail' comment.article_id %}">{{ comment.content }}</a>
        </p>
        {% endfor %}
    </div>
    <div class="col-6">
        <h3>좋아요 누른 글</h3>
        <p class="text-muted">{{ user.like_articles.count }}개를 작성하였습니다.</p>
        {% for article in user.like_articles.all %}
        <p>
            {{ forloop.counter }}
            <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
        </p>
        {% endfor %}

</body>