{% extends 'home.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %} 

<div class="header d-flex flex-column justify-content-center align-items-center">
  <h1 class="fs-1 fw-bolder text-white">리뷰 게시판</h1>
  {% if request.user.is_authenticated %}
  <a class="btn btn-primary my-3 float-right" href="{% url 'articles:create' %}">리뷰 쓰기</a>
  {% endif %}
</div>

<div class="row">
  {% for article in articles %}
  <div class="col-4 my-3">
    <div class="card">
      {% if article.image %}
        <img src="{{ article.image.url }}" class="card-img-top" alt="...">
      {% else %}
        <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        
        <a href="{% url 'articles:detail' article.pk %}" class="btn btn-outline-primary my-3">📖리뷰 보기</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}