<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Product</title>
  <meta name="description" content="Wireframe design of a product display by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe product">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="wireframe.css">
</head>

<body>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container d-flex justify-content-center"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-circle-o"></i>
        <b>Comfortable Books And Articles</b>
      </a> </div>
  </nav>
  <div class="text-center mx-3 mb-3 py-5 pb-4 w-300 h-200" style="background-image: url(&quot;https://mir-s3-cdn-cf.behance.net/project_modules/fs/aaa68f109429659.601d0c6aa8f88.jpg&quot; ); background-size: cover;">
    <div class="container">
      <div class="row" draggable="true">
        <div class="mx-auto p-5 my-5 col-md-8">
          <h1 style="font-weight:bold" class="isplay-4">BOOK REVIEW</h1>
          <p class="lead">Read, Write, And Share All of this is right here.<br>Enjoy here without having to go to the library or bookstore!!</p>
          <a class="m-3 btn btn-warning" href="#" style="font-weight:bold">LOGIN</a>
          <a class="btn btn btn-warning" href="#" style="font-weight:bold">SIGN UP</a>
          <a class="m-3 btn btn-warning" href="#" style="font-weight:bold">REVIEW</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center text-md-right" style="background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/717ad293173209.5e5e42301761a.jpg);	background-position: right bottom;	background-size: cover;	background-repeat: repeat; background-attachment: fixed;">
    <div class="container">
      <div class="row">
        <div class="p-5 mx-auto mx-md-0 ml-md-auto col-10 col-md-9">
          <h3 class="display-3">I feel the charm</h3>
          <p class="mb-3 lead">Of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
          <form class="form-inline d-flex justify-content-end">
            <div class="input-group"> <input type="email" class="form-control" placeholder="Your email" id="formcover1">
              <div class="input-group-append"> <button class="btn btn-primary" type="button">Subscribe</button> </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="p-3 col-md-12">
            <div class="blockquote mb-0">
              <p>"What made me who I am today was the library in my village, and the habit of reading is more precious than a Harvard diploma."</p>
              <div class="blockquote-footer">
                <b>Bill Gates</b>, </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"><img style="width:250px" class="img-fluid d-block rounded-circle" src="https://file.mk.co.kr/meet/neds/2017/05/image_readtop_2017_327413_14949311292883833.jpg"></div>
      </div>
    </div>
  </div>
  <div class="py-">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="container-fluid">
      <div class="row px-2 m-3">
        <div class="col mx-2 pt-5 px-5 mb-3" style="background-color:#7EB5A6;">
          <h2 class="mt-3"><b>Another headline</b></h2>
          <p class="lead mb-5">And an even wittier subheading.</p>
          <img class="img-fluid d-block" src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788954673105.jpg" width="">
        </div>
        <div class="col mx-2 pt-5 px-5 bg-primary mb-3">
          <h2 class="mt-3"><b>Another headline</b></h2>
          <p class="lead mb-5">And an even wittier subheading.</p>
          <img class="img-fluid d-block" width="" src="https://contents.kyobobook.co.kr/pdt/4808960907348.jpg">
        </div>
      </div>
      <div class="row px-2 m-3">
        <div class="col mx-2 pt-5 px-5 mb-3 bg-light">
          <h2 class="mt-3"><b>Another headline</b></h2>
          <p class="lead mb-5">And an even wittier subheading.</p>
          <img class="img-fluid d-block" src="https://contents.kyobobook.co.kr/pdt/9791161571188.jpg" width="">
        </div>
        <div class="col mx-2 pt-5 px-5 mb-3 bg-secondary">
          <h2 class="mt-3"><b>Another headline</b></h2>
          <p class="lead mb-5">And an even wittier subheading.</p>
          <img class="img-fluid d-block" width="" src="https://contents.kyobobook.co.kr/pdt/450D000200688.jpg">
        </div>
      </div>
      <div class="row px-2 m-3">
        <div class="col mx-2 pt-5 px-5 mb-3 bg-info">
          <h2 class="mt-3"><b>Another headline</b></h2>
          <p class="lead mb-5">And an even wittier subheading.</p>
          <img class="img-fluid d-block" src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788954640718.jpg" width="">
        </div>
        <div class="col mx-2 pt-5 px-5 mb-3 bg-primary">
          <h2 class="mt-3"><b>Another headline</b></h2>
          <p class="lead mb-5">And an even wittier subheading.</p>
          <img class="img-fluid d-block" src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791197037153.jpg" width="">
        </div>
      </div>
      <div class="row px-2 m-3">
        <div class="col mx-2 pt-5 px-5 mb-3 bg-light">
          <h2 class="mt-3"><b>Another headline</b></h2>
          <p class="lead mb-5">And an even wittier subheading.</p>
          <img class="img-fluid d-block" src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791158741693.jpg" width="">
        </div>
        <div class="col mx-2 pt-5 px-5 mb-3 bg-light">
          <h2 class="mt-3"><b>Another headline</b></h2>
          <p class="lead mb-5">And an even wittier subheading.</p>
          <img class="img-fluid d-block" src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791188469994.jpg" width="">
        </div>
      </div>
      <div class="row m-3">
        <div class="col-md-6" style="">
          <div class="card"> <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/b90d02143527491.62a9cdfc2af69.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Guideline</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="">
          <div class="card">
            <div class="card-body">
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <img class="card-img-bottom" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/8d225c143527491.629763bcf14cd.jpg" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" style=""></script>
    
  </div>
  <div class="py-5 m- text-white" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/329ab1155600127.6357df95732d3.png);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container" >
      <div class="row">
        <div class="ml-auto col-lg-5">
          <div class="card my-2">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-md-4"> <img class="img-fluid d-block rounded-circle mb-3" src="https://img.freepik.com/free-psd/3d-birthday-icon-with-balloon-animal_23-2149664026.jpg?size=338&amp;ext=jpg&amp;ga=GA1.2.1661540892.1665126324&amp;semt=sph"> </div>
                <div class="d-flex flex-column col-md-8 text-dark">
                  <p class="mb-3">I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence.</p>
                  <p class="mb-0">J. W. Goethe <i>CEO</i> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mr-auto col-lg-5">
          <div class="card my-2">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-md-4"> <img class="img-fluid d-block rounded-circle mb-3" src="https://img.freepik.com/free-psd/3d-rendering-of-thumb-up-hand_23-2149294142.jpg?size=338&amp;ext=jpg&amp;ga=GA1.2.1661540892.1665126324&amp;semt=sph"> </div>
                <div class="d-flex flex-column col-md-8 text-dark">
                  <p class="mb-3">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes. </p>
                  <p class="mb-0">J. W. Goethe jr. <i>CFO</i> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-3x"></i>
          <p> <a href="https://goo.gl/maps/AUq7b9W7yYJ2" target="_blank"> Book Review Service <br>2022</a> </p>
          <p> <a href="tel:+246 - 542 550 5462">Multicampus</a> </p>
          <p class="mb-0"> <a href="mailto:info@pingendo.com">reading@kakao.com</a> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center my-3"> <a href="#">
            <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
          </a> </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center" style="">
          <p class="mb-0">©22 차화영 &amp; 임수경</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>